//--Global Configs
$global-logo: url('../images/logo_transp.png');
//--Project Configs
$project-logo: url('../images/project_logo.png');

//---Colors
$primary-blue   : #2E3192;
$secondary-blue : #7090CA;
$primary-color  : #ED1C24;
$secondary-color: #555555;
$color-white    : white;

//--Font
$font-family: "Open Sans", sans-serif;
$font-color:#333; //default font-color
