/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

nav {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 9999;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee; }

nav .logo {
  background-image: url("../images/project_logo.png");
  background-color: white;
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 160px;
  border: 1px solid #eee;
  border-bottom: 2px solid #eee; }

nav > .small-logo {
  width: 200px;
  height: 90px;
  display: inline-flex;
  flex-grow: 2;
  background-image: url("../images/project_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px; }

nav > .logo:hover, nav > .small-logo:hover {
  border: 0; }

nav > ul {
  display: inline-flex;
  align-self: center; }

nav li {
  list-style: none;
  padding: 50px 20px 50px 20px;
  margin-top: 45px; }

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  transition: all .5s; }

nav a:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 3px solid #ED1C24;
  border-bottom: 3px solid #ED1C24;
  transition: all .5s; }

.link-logo:hover {
  padding: 0;
  border-top: 0;
  border-bottom: 0; }

nav > .resp {
  display: none;
  width: 100%; }

.resp > .small-logo {
  width: 100px;
  height: 80px;
  background-image: url("../images/project_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  flex-grow: 2;
  display: inline-flex;
  align-self: center;
  padding: 10px;
  margin-left: 10px; }

.resp > .small-logo:hover {
  border: 0; }

.nav-toggle {
  cursor: pointer;
  display: block;
  height: 3.5rem;
  position: relative;
  width: 3.5rem;
  align-self: center; }

.nav-toggle span {
  background-color: #ED1C24;
  display: block;
  height: 2px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 50%;
  transition: none .1s ease-out;
  transition-property: background,left,opacity,transform;
  width: 15px; }

.nav-toggle span:nth-child(1) {
  margin-top: -6px; }

.nav-toggle span:nth-child(2) {
  margin-top: -1px; }

.nav-toggle span:nth-child(3) {
  margin-top: 4px; }

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

header > .logo {
  width: 600px;
  height: 200px;
  margin-top: 50px;
  display: inline-flex;
  background-image: url("../images/project_logo.png");
  background-size: contain;
  background-repeat: no-repeat; }

.flex-section {
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: auto;
  flex-direction: column;
  background-color: white;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 50px; }

.itens-center, .itens-center-column {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row; }

.itens-center-column {
  flex-direction: column; }

.flex-section > .title {
  display: block;
  margin: 0 auto;
  color: #ED1C24; }

.flex-section > .title:after {
  border-bottom-color: #555555; }

.flex-section-row {
  width: 95%;
  height: auto;
  display: flex;
  align-self: center;
  flex-direction: row;
  align-content: center;
  padding-top: 10px; }

.flex-section-item {
  box-sizing: border-box;
  flex-basis: 1;
  width: 25%;
  height: auto;
  padding: 20px 0 20px 0;
  border-radius: 5px;
  background-color: #ddd;
  margin: 10px; }

.flex-section-item-half {
  width: 50%;
  height: auto; }

.flex-section-item.transparent {
  background-color: transparent; }

.flex-section-item img, .flex-section-description {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto; }

.flex-section-item > img {
  border: 1px solid #eee; }

.flex-section-description > p {
  padding-top: 20px;
  line-height: 1.5; }

.flex-section-text, .flex-section-image {
  margin: 0px 50px 0px 50px; }

.flex-section-image {
  width: 40%; }

.flex-section-title, .title-left, .title-right {
  font-size: 3em;
  color: #ED1C24; }

.flex-section-subtitle, .flex-section-text > p > span {
  padding-top: 20px;
  font-weight: bold;
  font-size: 1.5em; }

.title-left {
  text-align: left; }

.title-right {
  text-align: right; }

.no-border:after {
  display: none; }

.flex-section-text {
  width: 90%;
  margin-top: 20px;
  align-self: center;
  line-height: 2;
  color: #333; }

article.flex-section-text {
  width: 50%; }

.flex-section-text > p > span {
  color: #7090CA; }

.flex-section-text.pull-left {
  align-self: center; }

.flex-section-text.pull-right {
  align-self: center;
  margin-right: 100px; }

.title {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  color: white;
  padding-top: 100px; }

.title:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: auto;
  height: 10px;
  border-bottom: 3px solid #333;
  margin-bottom: 20px; }

.subtitle {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  color: #555555; }

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  width: 75%;
  border: 0;
  margin: 0 auto; }

.parallax-window {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }

.odometer-digit {
  font-size: 4em;
  font-weight: bold;
  color: white; }

.odometer-inside {
  margin: 0 auto; }

.odometer-description, .odometer-description-simbol {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white; }

.odometer-description-simbol {
  font-weight: bold;
  font-size: 2em;
  color: #7090CA; }

.img-block {
  display: block;
  margin: 0 auto;
  width: 95%;
  height: auto;
  padding: 20px 0 20px 0; }

/* --------------------------------

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #ddd;
  font-family: "Open Sans", sans-serif; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2 {
  font-weight: bold; }

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto; }

.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both; }

/* --------------------------------

Main components

-------------------------------- */
.foto-acont {
  width: 100%;
  display: block;
  margin: 0 auto; }

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em; }

#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #333; }

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em; }

  #cd-timeline::before {
    left: 50%;
    margin-left: -2px; } }
.cd-timeline-block {
  position: relative;
  margin: 2em 0; }

.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both; }

.cd-timeline-block:first-child {
  margin-top: 0; }

.cd-timeline-block:last-child {
  margin-bottom: 0; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0; }

  .cd-timeline-block:first-child {
    margin-top: 0; }

  .cd-timeline-block:last-child {
    margin-bottom: 0; } }
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); }

.cd-timeline-img img {
  display: block;
  width: 32px;
  height: 32px;
  position: relative;
  left: 45%;
  top: 45%;
  margin-left: -12px;
  margin-top: -12px; }

.cd-timeline-img.cd-pref {
  background: #2E3192; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden; }

  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s; } }
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5); }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2); }
  100% {
    -moz-transform: scale(1); } }
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed; }

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both; }

.cd-timeline-content h2 {
  color: #303e49; }

.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem; }

.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block; }

.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6; }

.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #7090CA;
  color: white;
  border-radius: 0.25em; }

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #2E3192; }

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7; }

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white; }

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem; }

  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem; }

  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem; } }
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%; }

  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white; }

  .cd-timeline-content .cd-read-more {
    float: left; }

  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: -12px;
    font-size: 2rem;
    font-weight: bold; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right; }

  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s; } }
@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s; } }
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0); } }
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px); }
  100% {
    -moz-transform: translateX(0); } }
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0); } }
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px); }
  100% {
    -moz-transform: translateX(0); } }
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
footer {
  width: 100%;
  min-height: 100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #333; }

footer p {
  padding: 10px 0 10px 0;
  color: white; }

footer img {
  display: block;
  margin: 0 auto;
  width: 64px;
  height: 64px; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  max-width: 100%; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#programacao {
  background-image: url("../images/bgtrab.png"); }

#video-prefeito {
  background-image: url("../images/bg_azul.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

#atracoes {
  width: 100%;
  background-image: url("../images/fundo_grande.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

#video-prefeito {
  min-height: 50vh;
  height: auto; }

#video-prefeito > article {
  align-self: flex-start; }

#video-prefeito > .embed-container {
  width: 50%;
  margin-right: 100px;
  padding-bottom: 30%; }

#video-prefeito > .embed-container > iframe {
  width: 100%;
  height: 50vh;
  margin-top: 12%; }

#video-prefeito > article > .flex-section-title, #video-prefeito > article > .title-left, #video-prefeito > article > .title-right {
  font-size: 4em;
  color: white;
  font-weight: bold; }

#abertura {
  background-image: url("../images/banner_zumba.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#culturais {
  background-image: url("../images/orquestra.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#diogo {
  background-image: url("../images/bg_diogo.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

#atracoes h1, #atracoes p {
  color: white; }

#programacao {
  background-color: #eee; }

.small {
  min-height: 30vh;
  align-items: center;
  border-bottom: 1px solid #ddd; }

.small .title {
  font-size: 2em;
  color: #333;
  border: 0px;
  padding-top: 0px; }

.small .title:after {
  display: none; }

.arrow:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  position: absolute;
  top: 100%; }

.title.color-orange {
  color: #F7941E;
  font-size: 4em;
  line-height: 1.5em;
  border-bottom: 2px solid #ED1C24; }

.color-orange:after {
  display: none; }

.color-white {
  color: white; }

.flex-section-title.color-white, .color-white.title-left, .color-white.title-right {
  padding-top: 40px;
  font-size: 4em; }

.big-text {
  font-size: 2em; }

.patrocinio {
  width: 20%; }

@media (max-width: 1024px) {
  nav > .menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    transition: all .2s;
    background-color: #333;
    padding-bottom: 10px; }

  nav > .menu > li {
    margin-top: 10px;
    padding: 25px; }

  nav > .menu > li:last-child {
    padding-bottom: 10px; }

  nav > .menu > li > a:hover {
    border: 0; }

  nav > .resp {
    display: flex; }

  .menu > .link-logo {
    display: none; }

  .menu > li > a {
    color: white; }

  .flex-section {
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 50px 0; }

  .subtitle {
    padding-bottom: 20px; }

  .flex-section-text {
    display: block;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    order: 1; }

  article.flex-section-text {
    width: 90%; }

  .flex-section-text.pull-right p {
    text-align: justify;
    margin-right: 0; }

  .flex-section-image {
    max-width: 90%;
    display: block;
    margin: 0 auto;
    order: 2;
    padding-top: 20px; }

  .flex-section-title, .title-left, .title-right, .title {
    font-size: 2em;
    line-height: 1.2; }

  .title-left, .title-right, .title:after, .flex-section-subtitle, .flex-section-text > p > span {
    margin: 0;
    border: 0;
    text-align: center; }

  .flex-section-text > p > span {
    font-size: 1.2em; }

  .flex-section-text.pull-right, .flex-section-text.pull-left {
    margin-left: 0;
    margin-right: 0; }

  .title.text-left, .title.text-right, .subtitle.text-left, .subtitle.text-right {
    text-align: center; }

  .text-left, .text-right {
    text-align: justify; }

  .cd-date {
    font-weight: bold;
    font-size: 1.5em; }

  .flex-section-row {
    flex-wrap: wrap; }

  .flex-section-item {
    box-sizing: border-box;
    width: -webkit-calc(100% - 52% - 10px);
    margin: 10px 10px 10px 10px; }

  .flex-section-title, .title-left, .title-right {
    padding-top: 30px; }

  .sm-text-center {
    text-align: center !important; }

  #video-prefeito > article {
    align-self: center;
    order: 1; }

  #video-prefeito > .embed-container {
    width: 90%;
    align-self: center;
    margin-right: 0px;
    margin-top: 40px;
    padding-bottom: 120%;
    order: 2; } }
@media (max-width: 800px) {
  header {
    background-size: cover;
    height: auto;
    padding-top: 100px; }

  .flex-section-row {
    flex-direction: column; }

  .flex-section-item, .flex-section-item-half {
    width: 100%;
    margin: 10px 0 10px 0; }

  .img-block {
    width: 80%; }

  .patrocinio {
    width: 40% !important;
    margin: 0 auto; }

  .rslides img {
    width: 90%; }

  footer p {
    padding: 10px 40px 10px 40px;
    color: white;
    text-align: center; } }
@media (max-width: 500px) {
  #iptu {
    background-size: 100%;
    min-height: 200px; }

  #video-prefeito > article > .flex-section-title, #video-prefeito > article > .title-left, #video-prefeito > article > .title-right, #diogo > article > .title {
    font-size: 2.5em; } }
.is-active {
  display: block !important; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

/*# sourceMappingURL=main.css.map */
